body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.alt-font {
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    z-index: 99;
}

/* Headings */
h1 {font-size:40px; line-height:45px; }
h2 {font-size:35px; line-height:40px;}
h3 {font-size:28px; line-height:24px;}
h4 {font-size:40px; line-height:46px;}
h5 {font-size:32px; line-height:40px;}
h6 {font-size:25px; line-height:30px;}

/* background colors */
.bg-transparent {background-color: transparent;}
.bg-white {background-color: #fff;}
.bg-black {background-color: #000;}
.bg-charcoal-gray {background-color: #0e0f10;}
.bg-extra-dark-gray {background-color: #1c1c1c;}
.bg-dark-gray {background-color: #757575;}
.bg-extra-medium-gray {background-color: #939393;}
.bg-medium-gray {background-color: #dbdbdb;}
.bg-light-gray {background-color: #f7f7f7;}
.bg-orange {background-color: #f05444;}
.bg-teal {background-color:#4aaaa5;}

/* text size */
.text-small {font-size:16px; line-height:23px;}
.text-medium {font-size:18px; line-height:26px;}
.text-large {font-size:20px; line-height:30px;}
.title-large {font-size:100px; line-height:95px;}

/* font weight */
.font-weight-400 {font-weight: 400;}
.font-weight-500 {font-weight: 500;}
.font-weight-700 {font-weight: 700;}
.font-weight-900 {font-weight: 900;}

/* text format */
.text-uppercase {text-transform: uppercase;}
.text-center {text-align: center;}

/* text color */
.text-white {color:#fff}
.text-black {color:#000}
.teal {color:#4aaaa5;}
.orange {color: #f05444;}
.text-dark-gray {color: #757575}
.text-medium-gray {color: #939393}

/* letter spacing */
.letter-spacing-1 {letter-spacing: 1px;}
.letter-spacing-2 {letter-spacing: 2px;}
.letter-spacing-3 {letter-spacing: 3px;}
.letter-spacing-4 {letter-spacing: 4px;}
.letter-spacing-5 {letter-spacing: 5px;}
.letter-spacing-6 {letter-spacing: 6px;}
.letter-spacing-7 {letter-spacing: 7px;}
.letter-spacing-8 {letter-spacing: 8px;}
.letter-spacing-9 {letter-spacing: 9px;}
.letter-spacing-10 {letter-spacing: 10px;}

/* line height */
.line-height-10 {line-height: 10px;}
.line-height-20 {line-height: 20px;}
.line-height-24 {line-height: 24px;}
.line-height-28 {line-height: 28px;}
.line-height-32 {line-height: 32px;}

/* text align */
.align-left {text-align: left;}
.align-center {text-align: center;}
.align-right {text-align: right;}

/* margin top */
.margin-5px-top {margin-top: 5px;}
.margin-10px-top {margin-top: 10px;}
.margin-15px-top {margin-top: 15px;}
.margin-20px-top {margin-top: 20px;}
.margin-50px-top {margin-top: 50px;}
.margin-75px-top {margin-top: 75px;}
.margin-100px-top {margin-top: 100px;}

/* margin bottom */
.margin-5px-bottom {margin-bottom: 5px;}
.margin-10px-bottom {margin-bottom: 10px;}
.margin-15px-bottom {margin-bottom: 15px;}
.margin-20px-bottom {margin-bottom: 20px;}
.margin-50px-bottom {margin-bottom: 50px;}
.margin-75px-bottom {margin-bottom: 75px;}
.margin-100px-bottom {margin-bottom: 100px;}

/* margin right */
.margin-5px-right {margin-right: 5px;}
.margin-10px-right {margin-right: 10px;}
.margin-15px-right {margin-right: 15px;}
.margin-20px-right {margin-right: 20px;}
.margin-50px-right {margin-right: 50px;}
.margin-75px-right {margin-right: 75px;}
.margin-100px-right {margin-right: 100px;}

/* margin left */
.margin-5px-left {margin-left: 5px;}
.margin-10px-left {margin-left: 10px;}
.margin-15px-left {margin-left: 15px;}
.margin-20px-left {margin-left: 20px;}
.margin-50px-left {margin-left: 50px;}
.margin-75px-left {margin-left: 75px;}
.margin-100px-left {margin-left: 100px;}

/* padding top */
.padding-5px-top {padding-top: 5px;}
.padding-10px-top {padding-top: 10px;}
.padding-15px-top {padding-top: 15px;}
.padding-20px-top {padding-top: 20px;}
.padding-50px-top {padding-top: 50px;}
.padding-75px-top {padding-top: 75px;}
.padding-100px-top {padding-top: 100px;}

/* padding bottom */
.padding-5px-bottom {padding-bottom: 5px;}
.padding-10px-bottom {padding-bottom: 10px;}
.padding-15px-bottom {padding-bottom: 15px;}
.padding-20px-bottom {padding-bottom: 20px;}
.padding-50px-bottom {padding-bottom: 50px;}
.padding-75px-bottom {padding-bottom: 75px;}
.padding-100px-bottom {padding-bottom: 100px;}

/* padding options */
.no-padding {padding:0 !important}
.no-padding-lr {padding-left: 0 !important; padding-right: 0 !important;}
.no-padding-tb {padding-top: 0 !important; padding-bottom: 0 !important;}
.no-padding-top {padding-top: 0 !important;}
.no-padding-bottom {padding-bottom: 0 !important;}
.no-padding-left {padding-left: 0 !important;}
.no-padding-right {padding-right: 0 !important;}

/* position options */
.position-inherit {position: inherit !important}
.position-relative {position:relative !important}
.position-absolute {position: absolute !important}
.position-fixed {position: fixed !important}
.position-right {right: 0 !important}
.position-left {left:0 !important}
.position-top {top:0 !important}

/* opacity */
.opacity1 {opacity:.1}
.opacity2 {opacity:.2}
.opacity3 {opacity:.3}
.opacity4 {opacity:.4}
.opacity5 {opacity:.5}
.opacity6 {opacity:.6}
.opacity7 {opacity:.7}
.opacity8 {opacity:.8}
.opacity9 {opacity:.9}

.opacity-medium {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .75;
    top: 0;
    left: 0;
}

/* feature box */
.feature-1 {padding-left: 75px;}
.feature-1 i {position: absolute; top: 0; left:0;}

/* jumbotron overwrite */
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0; /* removed radius border */
}

/* image options */
.cover-background {
    position: relative !important;
    background-size: cover !important;
    overflow: hidden !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

/* ========================
PORTFOLIO
=========================== */

.image-container {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    overflow: hidden;
}

.image-container:hover .overlay {
    opacity: 1;
}

.image-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}