body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.alt-font {
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    width: 100%;
    z-index: 99;
}

/* Headings */
h1 {font-size:40px; line-height:45px; }
h2 {font-size:35px; line-height:40px;}
h3 {font-size:28px; line-height:24px;}
h4 {font-size:40px; line-height:46px;}
h5 {font-size:32px; line-height:40px;}
h6 {font-size:25px; line-height:30px;}

/* background colors */
.bg-transparent {background-color: transparent;}
.bg-white {background-color: #fff;}
.bg-black {background-color: #000;}
.bg-charcoal-gray {background-color: #0e0f10;}
.bg-extra-dark-gray {background-color: #1c1c1c;}
.bg-dark-gray {background-color: #757575;}
.bg-extra-medium-gray {background-color: #939393;}
.bg-medium-gray {background-color: #dbdbdb;}
.bg-light-gray {background-color: #f7f7f7;}
.bg-orange {background-color: #f05444;}
.bg-teal {background-color:#4aaaa5;}

/* text size */
.text-small {font-size: 20px; line-height:20px;}
.text-medium {font-size:16px; line-height:23px;}
.text-large {font-size:18px; line-height:26px;}
.title-large {font-size:100px; line-height:95px;}

/* font weight */
.font-weight-400 {font-weight: 400;}
.font-weight-500 {font-weight: 500;}
.font-weight-700 {font-weight: 700;}
.font-weight-900 {font-weight: 900;}

/* text format */
.text-uppercase {text-transform: uppercase;}
.text-center {text-align: center;}

/* text color */
.text-white {color:#fff}
.text-black {color:#000}
.teal {color:#4aaaa5;}
.orange {color: #f05444;}
.text-dark-gray {color: #757575}
.text-medium-gray {color: #939393}

/* letter spacing */
.letter-spacing-1 {letter-spacing: 1px;}
.letter-spacing-2 {letter-spacing: 2px;}
.letter-spacing-3 {letter-spacing: 3px;}
.letter-spacing-4 {letter-spacing: 4px;}
.letter-spacing-5 {letter-spacing: 5px;}
.letter-spacing-6 {letter-spacing: 6px;}
.letter-spacing-7 {letter-spacing: 7px;}
.letter-spacing-8 {letter-spacing: 8px;}
.letter-spacing-9 {letter-spacing: 9px;}
.letter-spacing-10 {letter-spacing: 10px;}

/* line height */
.line-height-10 {line-height: 10px;}
.line-height-20 {line-height: 20px;}
.line-height-24 {line-height: 24px;}
.line-height-28 {line-height: 28px;}
.line-height-32 {line-height: 32px;}

/* text align */
.align-left {text-align: left;}
.align-center {text-align: center;}
.align-right {text-align: right;}

/* margin top */
.margin-5px-top {margin-top: 5px;}
.margin-10px-top {margin-top: 10px;}
.margin-15px-top {margin-top: 15px;}
.margin-20px-top {margin-top: 20px;}
.margin-50px-top {margin-top: 50px;}
.margin-75px-top {margin-top: 75px;}
.margin-100px-top {margin-top: 100px;}

/* margin bottom */
.margin-5px-bottom {margin-bottom: 5px;}
.margin-10px-bottom {margin-bottom: 10px;}
.margin-15px-bottom {margin-bottom: 15px;}
.margin-20px-bottom {margin-bottom: 20px;}
.margin-50px-bottom {margin-bottom: 50px;}
.margin-75px-bottom {margin-bottom: 75px;}
.margin-100px-bottom {margin-bottom: 100px;}

/* padding top */
.padding-5px-top {padding-top: 5px;}
.padding-10px-top {padding-top: 10px;}
.padding-15px-top {padding-top: 15px;}
.padding-20px-top {padding-top: 20px;}
.padding-50px-top {padding-top: 50px;}
.padding-75px-top {padding-top: 75px;}
.padding-100px-top {padding-top: 100px;}

/* padding bottom */
.padding-5px-bottom {padding-bottom: 5px;}
.padding-10px-bottom {padding-bottom: 10px;}
.padding-15px-bottom {padding-bottom: 15px;}
.padding-20px-bottom {padding-bottom: 20px;}
.padding-50px-bottom {padding-bottom: 50px;}
.padding-75px-bottom {padding-bottom: 75px;}
.padding-100px-bottom {padding-bottom: 100px;}

/* navigation */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.nav-normal {
    overflow: hidden;
    max-width: 960px;
    margin: 0 auto;
}

.logo {
    float: left;
    line-height: 75px;
    color: #4aaaa5;
    font-size: 2rem;
    background-color: #fff;
    padding: 0 20px 0 20px;;
}

.logo p {
    margin: 0 20px;
    padding: 0;
}

.nav-normal ul {
    margin:0;
    padding:0;
    list-style-type: none;
}
.nav-normal a {
    float: right;
    text-decoration: none;
    color: #fff;
    padding: 0px 15px;
    line-height: 75px;
}
.nav-normal a:hover {
    background-color: #ddd;
    color: black;
}

.content-wrapper {
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 20px 20px 20px;
    margin-top: 20px;
    overflow: auto;
}

.content-wrapper hr {
    border: none;
    height: 1px;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #777;
    text-align: center;
    color: fff;
    padding: 15px;
}

/* input */
.input-border-bottom {background: transparent;
    border: 0;
    border-bottom: 1px solid #484848;
    padding: 10px 0;
    margin-bottom: 30px;
    font-size: 14px;
}

/* columns */
.leftColumn {
    margin: 10px 0 20px 0;
    padding:0;
    float: left;
    width: 30%;
}

.rightColumn {
    width: 68%;
    margin:0;
    padding:0;
    float: right;

}

.profileImage {
    max-width: 10rem;
    height: auto;
    float: left;
    margin-right: 20px;
}

/* contact form */
.contact-form {
    clear: both;
    margin: 0 15px 15px;
    text-align: center;
    border: 1px solid #484848;
    color: #000;
    padding: 2px 0;
    font-size: 12px;
}

form label {
    display: block;
    margin-top: 30px;
}

input[type=text] {
    padding: 15px;
    border: 1px solid #ddd;
    width: 90%;
    margin: 30px 20px;
}

input[type=email] {
    padding: 15px;
    border: 1px solid #ddd;
    width: 90%;
    margin: 30px 20px;
}

.messageEntry {
    padding: 15px;
    border: 1px solid #ddd;
    width: 90%;
    margin: 30px 20px;
}

.submit {
    font-size: 12px;
    display: inline-block;
    border: 2px solid;
    letter-spacing: .5px;
    line-height: inherit;
    border-radius: 0;
    text-transform: uppercase;
    width: auto;
    padding: 20px;
    color: fff;
    background-color: #4aaaa5;
}

/* Portfolio */
.container {
    position: relative;
    margin: 5px;
    float: left;
    padding: 0 8px;
    display: block;
    margin: 0 auto, auto 0;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #4aaaa5;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.left {
    float: left;
}

/* Gallery */
div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    text-decoration: none;
}

.responsive {
    padding: 10px 6px;
    float: left;
    width: 50%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* layout */
.row {
    margin-right: -15px;
    margin-left: -15px;
}

.row.content {height: 450px;}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

/* hero section */
.jumbotron {
    height: 1080px;
    width: 1920px;
    background-color: #cccccc
}

.opacity-extra-medium {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    top: 0;
    left: 0;
}

.navbar {
    position: relative;
    min-height: 50px;
    border: 1px solid transparent;
}
